<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header class="header">
        <nav class="menu">
            <div class="menu-item active"><a href="/">Home</a></div>
            <div class="menu-item"><a href="/users">Users</a></div>
        </nav>
    </header>
    <main class="main">
        <h1>Welcome to Users Homepage</h1>
    </main>
</body>
</html>